.dashboard-container {
  display: flex;
  height: 100vh;
  background: #f4f6f8;
}

/* SIDEBAR */
.sidebar {
  width: 280px;
  background: #ffffff;
  padding: 38px;
  border-right: 1px solid #ddd;
  height: 93%;
}

.create_emp{
  /* text-align: right; */

}

.emp_text{
  padding: 20px;
  border-radius: 10px;
  margin-right: 20px;
   margin-top: 17px;
   background-color: #c7913f;
   color: #fff;
  /* margin-top: 20px; */
}

.dashboard-container{
  /* justify-content:space-between; */
}

.menu-btn {
  width: 100%;
  padding: 14px;
  margin-bottom: 12px;
  border-radius: 25px;
  border: none;
  background: #e0e0e0;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.menu-btn:hover {
  background: #c8e6c9;
}

.menu-btn.active {
  background: #2e7d32;
  color: white;
}

/* RIGHT CONTENT */
.content {
  text-align: center;
  margin: auto;
  flex: 1;
  padding: 30px;
  /* background: #f9fafb; */
}

.content h1 {
  /* margin: auto auto;
  margin-top: 50px; */
  /* margin-bottom: 20px; */
  color: #333;
      /* margin-bottom: 291px; */
}

.content p {
   /* margin: auto auto;
   margin-top: 50px; */
  font-size: 16px;
  color: #555;
}
