* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.auth-container {
  min-height: 100vh;
    background-image: url("./asset/signup_background.jpeg");
  /* background: linear-gradient(135deg, #4caf50, #81c784); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-card {
  background-color: rgba(255, 255, 255, 0.7);
  width: 360px;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 6px;
  color: #4caf50;
}

.auth-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
}

.auth-card input:focus {
  border-color: #4caf50;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  background: #4caf50;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.auth-card button:hover {
  background: #388e3c;
}

.auth-footer {
  display: block;
  margin-top: 15px;
  font-size: 14px;
}

.auth-footer a {
  color: #4caf50;
  text-decoration: none;
  font-weight: 600;
}
