.about-container {
  min-height: 100vh;
  background: linear-gradient(to bottom, #f7fff2, #e6f4e0);
}


.about-content {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
}

.story {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 60px;
}

.story.reverse {
  flex-direction: row-reverse;
}

.story img {
  width: 260px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.story p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}


@media (max-width: 768px) {
  .story,
  .story.reverse {
    flex-direction: column;
    text-align: center;
  }
}
